<div style="text-align:center">
  <h1>
    Crypto Conversion to Fiat Using Angular Pipes
  </h1>
  <div>
   <label>Input Value </label> &nbsp;
    <input type="number" name="value" [(ngModel)]="value">
  </div>
  <br>
  <div>
    <label>Select fiat Currency </label>
    <select [(ngModel)]="fiatCurrencies.name" name="fiatCurrencies" (ngModelChange)="selectChange(fiatCurrencies.name)">
      <option *ngFor="let currency of fiatCurrencies" [value]="currency.name">{{currency.name}}</option>
    </select>
  </div>

    <h2>
        {{value}}  Bitcoin to {{_currency.country}} {{_currency.currencyName}} is : 
      {{ value | cryptoConvert: 'btc' : 'usd' | fiatConvert:_currency.name | number:'1.0-2'  }} {{_currency.name}}
   </h2>
</div>


